* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding: 148px 24px 0px 24px;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  background: #6565e7;
  background: -webkit-gradient(linear, left bottom, left top, from(#6565e7), to(#af67e9));
  background: linear-gradient(0deg, #6565e7 0%, #af67e9 100%);
}

.card {
  padding: 132px 24px 48px;
  background: #ffffff;
  border-radius: 23px;
  max-width: 920px;
  margin: 0 auto;
  position: relative;
}

.card .card-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 38px;
}

.card-img-container .mobile-woman {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -90px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  z-index: 99;
}

.card-img-container .mobile-bg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 25px;
  margin: 0 auto;
  z-index: 9;
}

.card-img-container .desktop-woman,
.card-img-container .desktop-bg,
.card-img-container .desktop-box {
  display: none;
}

.accordion {
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e9;
}

.accordion .accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion .accordion-title {
  font-size: 13px;
  font-weight: 400;
}

.accordion .accordion-header:hover {
  cursor: pointer;
  color: #f47c57;
}

.accordion .accordion-content {
  color: #787887;
  margin-top: 12px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  display: none;
}

.accordion .accordion-icon {
  height: 4px;
  width: 8px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.accordion .accordion-title.active {
  font-weight: 700;
}

.accordion .accordion-content.active {
  display: block;
}

.accordion .accordion-icon.active {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  text-align: center;
  color: #e7e7e9;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #f47c57;
}

footer p {
  line-height: 1.5;
}

@media all and (min-width: 1440px) {
  .card {
    padding: 65px 95px;
  }
  .card .card-img-container .mobile-woman,
  .card .card-img-container .mobile-bg {
    display: none;
  }
  .card .card-img-container .desktop-woman {
    display: unset;
    position: absolute;
    left: -80px;
    top: 40px;
    overflow-x: hidden;
  }
  .card .card-img-container .desktop-box {
    display: unset;
    position: absolute;
    left: -100px;
    top: 170px;
  }
  .card .card-img-container .desktop-bg {
    display: unset;
    position: absolute;
    top: -320px;
    left: -575px;
  }
  .card .card-content {
    max-width: 50%;
    margin-left: auto;
  }
  .card .card-title {
    text-align: left;
  }
}
/*# sourceMappingURL=styles.css.map */